<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>My favorite books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="language" content="en" />
    <style>
      li  {display: block; border: 1px solid #ccc; margin: 5px; padding: 3px; }
      img {vertical-align: middle; margin-right: 5px;}
    </style>
  </head>
  <body>
    <hi>My favorite books:</hi>
    <ul>
    {% for book in book_list %}
      <li>
        {{ book.image|safe }}
        <strong>{{ book.title }}</strong> by <em>{{ book.author }}</em>
      </li>
    {% endfor %}
    </ul>
  </body>
</html>

